<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgriApp"
        tools:targetApi="31">
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".updateDetails"
            android:exported="false" />
        <activity
            android:name=".CropDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".activities.FetchingCropActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddRequestActivities"
            android:exported="false" />
        <activity
            android:name=".cropSelectedPage"
            android:exported="false" />
        <activity
            android:name=".Crop1"
            android:exported="false" />
        <activity
            android:name=".Available_crops"
            android:exported="false" />

        <activity
            android:name=".login.login"
            android:exported="false"/>

        <activity
            android:name=".login.RegisterSection"
            android:exported="false"/>

        <activity
            android:name=".login.Register"
            android:exported="false"/>

        <activity
            android:name=".activities.MainActivityBuyer"
            android:exported="false"/>



        <activity
            android:name=".login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>



    </application>

</manifest>